body{
    margin: 0 ;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    background-color: pink;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;


}

.form{
    background-color: antiquewhite;
    padding: 120px;
    box-shadow: 1px 4px 8px rgba(0, 0,0, 15); 
    border-radius: 10px;
    margin: 10px;

}

.input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    border: solid 4px blue;
    color: blue;
}

.input::placeholder{
    color: lightgray;
    font-family: cursive;
}

.btn{
    background-color: darksalmon;
    color: white;
    border: none;
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 25px;
    font-family: cursive;
    margin: 20px 0px ;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,2.5);
    cursor: pointer;
}
.btn:hover{
    filter: brightness(0.9);

}

.score{
    text-align: right;
}

