.container{
    
    text-align:center;
    margin-top: 0px;

}
.calculator{
    border: 20px solid black;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
}
}
table{
    margin: auto;

}

input{
    border-radius: 9px;
    font-size: 32px;
    border: 9px solid dimgrey;
}
button{
    border-radius: 10px;
    font-size: 50px;
    background-color: #616161;
    width: 100px;
    height: 90px;
}
.calculator{
    display: inline-block;
    
}
h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}